<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS360FinalProjectByJasonBarry"
        tools:targetApi="31">
        <activity
            android:name=".Login.View.createNewAccount"
            android:exported="false"
            android:parentActivityName=".Login.View.LoginActivity"/>
        <activity
            android:name=".Calendar.View.addEventActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"
            android:parentActivityName=".Calendar.View.activity_calendar_month"/>
        <activity
            android:name=".Calendar.View.updateEventActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"
            android:parentActivityName=".Calendar.View.activity_calendar_month"/>
        <activity
            android:name=".Calendar.View.SettingsActivity"
            android:exported="false"
            android:label="@string/SettingsTitle"
            android:parentActivityName=".Calendar.View.activity_calendar_month" />
        <activity
            android:name=".Login.View.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.EventCalendarMobileApplication.Calendar.View.activity_calendar_month" />
        </activity>
        <activity
            android:name=".Calendar.View.activity_calendar_month"
            android:exported="false" />
        <activity
            android:name=".Calendar.View.activity_calendar_daily"
            android:exported="true"
            android:parentActivityName=".Calendar.View.activity_calendar_month"/>
    </application>

</manifest>